@(entriesByProject: scala.collection.mutable.HashMap[Project, scala.collection.mutable.Seq[DataSourceEntry]])(implicit user: User)

@displayDate(date: java.util.Date) = {
  @{new java.text.SimpleDateFormat("dd/MM/yyyy' - 'HH:mm").format(date)}
}
@views.html.main {
  <h1>Tableau de bord</h1>
  @for((project,dataSourceEntries) <- entriesByProject) {
    <h2>@project.name</h2>
    <ul class="timeline">
      @for(dataSourceEntry <- dataSourceEntries) {
        <li>
          <span class="tag tag-timeline-entry-source-@dataSourceEntry.sourceType.toString">@dataSourceEntry.dataSourceName</span>
          <span class="timeline-entry-label">@dataSourceEntry.label</span>
          <span class="timeline-entry-modification-date">@displayDate(dataSourceEntry.modificationDate)</span>
        </li>
      }
    </ul>
  }
}
