@(entriesByProject: scala.collection.mutable.HashMap[Project, scala.collection.mutable.Seq[DataSourceTask]])(implicit user: User)

@displayDate(date: java.util.Date) = {
  @{new java.text.SimpleDateFormat("dd/MM/yyyy' - 'HH:mm").format(date)}
}
@views.html.main {
  <h1>Tableau de bord</h1>
  @for((project,dataSourceTasks) <- entriesByProject) {
    <h2>@project.name</h2>
    <ul class="timeline">
      @for(dataSourceTask <- dataSourceTasks) {
        <li>
          <span class="tag tag-timeline-entry-source-@dataSourceTask.sourceType.toString">@dataSourceTask.dataSourceName</span>
          <span class="timeline-entry-label">@dataSourceTask.label</span>
          <span class="timeline-entry-modification-date">@displayDate(dataSourceTask.dueDate)</span>
        </li>
      }
    </ul>
  }
}
