h2 {
  border-bottom: 1px solid grey;
}

ul.timeline {
  list-style: none;
}

.tag { 
  padding: 0 .2em;
  border-bottom: 1px solid;
  border-right: 1px solid;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  font-size: .9em;
  color: #ffffff;
}

.tag-timeline-entry-source-Gdocs_Collection {
  background: #20cc20; border-color:#20aa20;
}

.tag-timeline-entry-source-Basecamp_Project {
  background: #ab8b00; border-color:#ab8b00;
}

.timeline-entry-modification-date {
  float: right;
}
